$black: #000;
$darkgray: #666;
$lightgray: #888;
$eggshell: #AAA;
$white: #FFF;
$default_margin: 10px;


#todo-wrap {
	position: relative;
	max-width: 600px;
	background: #FFF;
	color: #000;
	border-right: 210px solid $darkgray;

	@extend .cl-cf;

	#todo-nav {
		float: right;
		width: 200px;
		padding: 0px;
		margin: 10px -200px 10px 0px;
		color: $white;

		p {
			margin: $default_margin;
			border-radius: $default_margin;
			padding: .5ex 1ex .5ex $default_margin;
			box-sizing: border-box;
			width: 190px;
			height: auto;
			font-size: 14px;
			background: $eggshell;
			color: $black;
			text-align: center;
		}

		li {
			margin: 0px 0px $default_margin 0px;
			padding: 1ex 1ex 1ex $default_margin;
			font-size: 16px;
			box-sizing: border-box;
			width: 100%;
			text-align: left;
			height: auto;
			cursor: pointer;
			border-top-right-radius: $default_margin;
			border-bottom-right-radius: $default_margin;

			&:hover {
				background: $lightgray;
			}
			&.selected {
				background: $white;
				color: $black;
			}

			a {
				&:link, &:visited, &:hover, &:active {
					color: $white;
					text-decoration: none;
				}
			}
		}
	}

	#todo-detail {
		padding: $default_margin;

		input {
			padding: 1ex;
			border: none;
			box-shadow: none;
			background: transparent;
			&:hover, &:focus {
				background: $eggshell;
			}
		}

		button {
			margin-top: 2ex;
			&.viewList {
				float: right;
			}
		}

		h1 {
			margin: 0px;
			padding: 0px;
			input {
				padding-top: .5em;
				padding-bottom: .5em;
				font-size: 30px;
			}
		}

		ul, li {
			margin: 0px;
			padding: 0px;
		}
		li {
			list-style-type: square;
			list-style-position: inside;
			margin: -1ex 0ex -1ex 2ex;
			&[draggable] {
				cursor: move;
			}
			input {
				font-size: 16px;
			}
		}

		&:empty + #checklists-instances {
			display: none;
		}
	}
}

.cl-cf {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}
