#todo-wrap {
  position: relative;
  max-width: 600px;
  background: #FFF;
  color: #000;
  border-right: 210px solid #666666; }
  #todo-wrap #todo-nav {
    float: right;
    width: 200px;
    padding: 0px;
    margin: 10px -200px 10px 0px;
    color: white; }
    #todo-wrap #todo-nav p {
      margin: 10px;
      border-radius: 10px;
      padding: 0.5ex 1ex 0.5ex 10px;
      box-sizing: border-box;
      width: 190px;
      height: auto;
      font-size: 14px;
      background: #aaaaaa;
      color: black;
      text-align: center; }
    #todo-wrap #todo-nav li {
      margin: 0px 0px 10px 0px;
      padding: 1ex 1ex 1ex 10px;
      font-size: 16px;
      box-sizing: border-box;
      width: 100%;
      text-align: left;
      height: auto;
      cursor: pointer;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px; }
      #todo-wrap #todo-nav li:hover {
        background: #888888; }
      #todo-wrap #todo-nav li.selected {
        background: white;
        color: black; }
      #todo-wrap #todo-nav li a:link, #todo-wrap #todo-nav li a:visited, #todo-wrap #todo-nav li a:hover, #todo-wrap #todo-nav li a:active {
        color: white;
        text-decoration: none; }
  #todo-wrap #todo-detail {
    padding: 10px; }
    #todo-wrap #todo-detail input {
      padding: 1ex;
      border: none;
      box-shadow: none;
      background: transparent; }
      #todo-wrap #todo-detail input:hover, #todo-wrap #todo-detail input:focus {
        background: #aaaaaa; }
    #todo-wrap #todo-detail button {
      margin-top: 2ex; }
      #todo-wrap #todo-detail button.viewList {
        float: right; }
    #todo-wrap #todo-detail h1 {
      margin: 0px;
      padding: 0px; }
      #todo-wrap #todo-detail h1 input {
        padding-top: .5em;
        padding-bottom: .5em;
        font-size: 30px; }
    #todo-wrap #todo-detail ul, #todo-wrap #todo-detail li {
      margin: 0px;
      padding: 0px; }
    #todo-wrap #todo-detail li {
      list-style-type: square;
      list-style-position: inside;
      margin: -1ex 0ex -1ex 2ex; }
      #todo-wrap #todo-detail li[draggable] {
        cursor: move; }
      #todo-wrap #todo-detail li input {
        font-size: 16px; }
    #todo-wrap #todo-detail:empty + #checklists-instances {
      display: none; }

.cl-cf:before, #todo-wrap:before, .cl-cf:after, #todo-wrap:after {
  content: " ";
  display: table; }
.cl-cf:after, #todo-wrap:after {
  clear: both; }
